<!DOCTYPE html>
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='bootstrap/css/bootstrap-reboot.min.css')
        link(rel='stylesheet' href='global.css')
        title #{ title }
    body
        include ../partials/header.pug
        block content
        include ../partials/footer.pug
        script(src='bootstrap/js/bootstrap.bundle.min.js')