extends layouts/main-layout.pug
block content
    br
    div.container
        div.alert.alert-warning(role='alert')
            h1
                i.bi.bi-alarm
                span Too many requests, try again later
