extends layouts/main-layout.pug
block content
    br
    div.container
        div.alert.alert-danger(role='alert')
            h1
                i.bi.bi-bug
                span Internal Server Error
