extends layouts/main-layout.pug
block content
    br
    .container
        div.card
            div.card-body
                table.table
                    thead
                        tr
                            th(scope="col") Username
                            th(scope="col") First Name
                            th(scope="col") Last Name
                            th(scope="col") Role
                            th(scope="col") Actions
                    tbody
                        each item in items
                            tr
                                th(scope="row") #{item.username}
                                th #{item.firstName}
                                th #{item.lastName}
                                th #{item.role}
                                th
                                    div.btn-group
                                        a.btn.btn-primary(href='/edit-user?username=' + item.username)
                                            i.bi.bi-pen-fill(data-bs-toggle="tooltip" data-bs-placement="top" title="Edit " + item.username)
                                        if item.username !== user.username
                                            a.btn.btn-primary(href='/delete-user?username=' + item.username)
                                                i.bi.bi-person-dash-fill(data-bs-toggle="tooltip" data-bs-placement="top" title="Delete " + item.username)
        br
        a.btn.btn-primary(href='/add-user')
            i.bi.bi-person-add(data-bs-toggle="tooltip" data-bs-placement="top" title="Add Users")  &nbsp; Add User